[submodule "daiet"]
	path = daiet
	url = https://github.com/ChenYuHo/daiet.git
[submodule "gloo"]
	path = gloo
	url = https://github.com/facebookincubator/gloo.git
[submodule "pytorch"]
	path = pytorch
	url = https://github.com/pytorch/pytorch.git
	branch = daiet
