[submodule "daiet"]
	path = daiet
	url = git@github.com:sands-lab/daiet.git
[submodule "gloo"]
	path = gloo
	url = git@github.com:sands-lab/gloo.git
[submodule "pytorch"]
	path = pytorch
	url = git@github.com:sands-lab/daiet-pytorch.git
	branch = daiet
[submodule "torchvision"]
	path = torchvision
	url = git@github.com:pytorch/vision.git
[submodule "horovod"]
	path = horovod
	url = git@github.com:sands-lab/daiet-horovod.git
